{
  "openapi": "3.0.3",
  "info": {
    "title": "Account Service",
    "version": "1.0.0",
    "description": "Account service capabilities to access account master data from SAP Sales and Service Cloud V2."
  },
  "servers": [
    {
      "url": "https://sandbox.api.sap.com/servicecloudv2"
    },
    {
      "url": "https://{hostname}",
      "description": "Example of server url is https://my1234567.crm.cloud.sap",
      "variables": {
        "hostname": {
          "default": ""
        }
      }
    }
  ],
  "paths": {
    "/sap/c4c/api/v1/account-service/accounts": {
      "get": {
        "operationId": "queryAccountserviceAccount",
        "summary": "Query accounts",
        "description": "Query accounts from SAP Sales and Service Cloud V2",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved accounts",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Account query response",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Technical ID"
                          },
                          "displayId": {
                            "type": "string",
                            "maxLength": 10,
                            "title": "Account ID"
                          },
                          "formattedName": {
                            "type": "string",
                            "maxLength": 255,
                            "title": "Name"
                          },
                          "lifeCycleStatus": {
                            "type": "string",
                            "title": "Life Cycle Status"
                          },
                          "isProspect": {
                            "type": "boolean",
                            "title": "Is Prospect"
                          },
                          "customerRole": {
                            "type": "string",
                            "title": "Customer Role"
                          },
                          "isNaturalPerson": {
                            "type": "boolean",
                            "title": "Is Natural Person"
                          },
                          "defaultCommunication": {
                            "type": "object",
                            "properties": {
                              "eMail": {
                                "type": "string",
                                "title": "Email"
                              },
                              "phoneFormattedNumber": {
                                "type": "string",
                                "title": "Phone Number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sap/c4c/api/v1/account-service/accounts/{id}": {
      "get": {
        "operationId": "getAccountDetails",
        "summary": "Read a specific account",
        "description": "Query the system for a specific Account using the account ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved Account",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Account read response",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "title": "Technical ID"
                        },
                        "displayId": {
                          "type": "string",
                          "maxLength": 10,
                          "title": "Account ID"
                        },
                        "formattedName": {
                          "type": "string",
                          "maxLength": 255,
                          "title": "Name"
                        },
                        "lifeCycleStatus": {
                          "type": "string",
                          "title": "Life Cycle Status"
                        },
                        "isProspect": {
                          "type": "boolean",
                          "title": "Is Prospect"
                        },
                        "customerRole": {
                          "type": "string",
                          "title": "Customer Role"
                        },
                        "isNaturalPerson": {
                          "type": "boolean",
                          "title": "Is Natural Person"
                        },
                        "defaultCommunication": {
                          "type": "object",
                          "properties": {
                            "eMail": {
                              "type": "string",
                              "title": "Email"
                            },
                            "phoneFormattedNumber": {
                              "type": "string",
                              "title": "Phone Number"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
